
/* 搜索选中框 */
.cm-s-obsidian span.obsidian-search-match-highlight {
    box-shadow: 0 0 0px 3px rgb(255, 0, 0);
    background-color: #ffffff;
    mix-blend-mode: var(--highlight-max-blend-mode);
    border-radius: 5px;
}

/* 代码块 */
/* 行内代码块 */
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    background-color: #e4e4e4; 
    /* 边框 */
    box-shadow: 0 0 0px 1px rgb(172, 172, 148);
    vertical-align: baseline;
    /*--------文字距边缘的距离--*/
    padding: 2px 4px;
}
/* 标注中的代码块 */
.markdown-rendered code {
    background-color: #e4e4e4;
    /* 边框 */
    box-shadow: 0 0 0px 1px rgb(172, 172, 148);
    border-radius: 0;
    padding: 2px 4px;
}

/* 数学公式块 */
body.unified-cm-highlighting[class*="theme-"] .cm-s-obsidian .cm-math {
    /* 边框 */
    background-color: #313641;
    /*文字距边缘的距离*/
    padding: 5px 5px;
}


/* advanced codeblock插件*/ 
/* codeblock行号格式  */
span.live-preview-codeblock-line-nums {
    display: inline-block;
    width: 1em;
    margin-right: 1em;
    color: #7a7a7a99;
    border-right: 1px solid #7a7a7a99;
    padding-right: 1.5em;
    text-align: right;
    white-space: nowrap; 
    user-select: none;  /* 禁止选择行号 */
}

