/* 首行缩进 */
 .markdown-source-view.mod-cm6.is-readable-line-width .cm-line:not(.HyperMD-table-row) {
    text-indent : 2em;   
} 



/* 搜索选中框 */
.cm-s-obsidian span.obsidian-search-match-highlight {
    box-shadow: 0 0 0px 3px rgb(255, 0, 0);
    background-color: #ffffff;
    mix-blend-mode: var(--highlight-max-blend-mode);
    border-radius: 5px;
}


/* ``代码块 */
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    background-color: #e4e4e4;
    /* 边框 */
    box-shadow: 0 0 0px 1px rgb(172, 172, 148);
    vertical-align: baseline;
    /*--------文字距边缘的距离--*/
    padding: 2px 4px;
}

/* 数学公式块 */
body.unified-cm-highlighting[class*="theme-"] .cm-s-obsidian .cm-math {
    /* 边框 */
    background-color: #313641;
    /*文字距边缘的距离*/
    padding: 5px 5px;
}

/* 图片自动居中：适用于Minimal和默认主题 */
/* img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.markdown-source-view.mod-cm6 .cm-content>* {
    margin: auto auto !important;
} */

/* 右下状态栏淡出 */
.status-bar:not(:hover) .status-bar-item {
    opacity: 0;  /* 隐藏状态字体颜色设置为无色 */
}
body:not(.minimal-status-off) .status-bar {
    background-color: rgba(1 , 1 , 1, 0);  /* 状态栏边框设置为透明 */
}


/* 标题行高 */
.cm-header-1 {
    line-height: 2em;
    color: rgb(0, 0, 0);
    /*--------字体颜色--*/
    background-color: #f7060640;
    /*--------背景颜色--*/
    border-radius: 5px;
    /*--------四边倒圆角--*/
    padding: 5px 5px;
    /*--------文字距边缘的距离--*/
}

.cm-header-2 {
    line-height: 2em;
    color: rgb(0, 0, 0);
        /*--------字体颜色--*/
        background-color: #f7cb0640;
        /*--------背景颜色--*/
        border-radius: 5px;
        /*--------四边倒圆角--*/
        padding: 5px 5px;
        /*--------文字距边缘的距离--*/
}

.cm-header-3 {
    line-height: 2em;
    color: rgb(0, 0, 0);
        /*--------字体颜色--*/
        background-color: #06aff740;
        /*--------背景颜色--*/
        border-radius: 5px;
        /*--------四边倒圆角--*/
        padding: 5px 5px;
        /*--------文字距边缘的距离--*/
}

.cm-header-4 {
    line-height: 2em;
    color: rgb(0, 0, 0);
        /*--------字体颜色--*/
        background-color: #5ef70640;
        /*--------背景颜色--*/
        border-radius: 5px;
        /*--------四边倒圆角--*/
        padding: 5px 5px;
        /*--------文字距边缘的距离--*/
}

.cm-header-5 {
    line-height: 2em;
    color: rgb(0, 0, 0);
        /*--------字体颜色--*/
        background-color: #1e06f740;
        /*--------背景颜色--*/
        border-radius: 5px;
        /*--------四边倒圆角--*/
        padding: 5px 5px;
        /*--------文字距边缘的距离--*/
}
.cm-header-6 {
    line-height: 2em;
    color: rgb(0, 0, 0);
        /*--------字体颜色--*/
        background-color: #8706f740;
        /*--------背景颜色--*/
        border-radius: 5px;
        /*--------四边倒圆角--*/
        padding: 5px 5px;
        /*--------文字距边缘的距离--*/
}

/* advanced codeblock插件 codeblock行号格式 */
span.live-preview-codeblock-line-nums {
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
    color: #7a7a7a;
    border-right: 1px solid #7a7a7a;
    padding-right: 1.5em;
    text-align: right;
    white-space: nowrap; 
    user-select: none;  /* 禁止选择行号 */
}


/* Latex Suite插件 括号颜色/括号匹配高亮*/
.theme-light .latex-suite-color-bracket-0 {
    color: #52c5ff;
}
.theme-light .latex-suite-color-bracket-1 {
    color: #ffee00;
}
.theme-light .latex-suite-color-bracket-2 {
    color: #00ff22;
}
.theme-light .latex-suite-highlighted-bracket,
.theme-light .latex-suite-highlighted-bracket [class^="latex-suite-color-bracket-"] {
    background-color: #ffffff4e;
}